[2021-03-15 20:31] rawkode opened #6 "Default Behaviour Should Be Help"
Everyone that has tried `comtrya` has complained about `./comtrya` recursively searching their home directory 😅

[2021-03-15 23:10] #6 closed

[2021-03-16 00:56] rawkode opened #10 "New Context: Variables"
We should allow the user to provide a Comtrya configuration file that allows them to add their own values into the Context tree.

[2021-03-16 00:57] rawkode commented on #10
We should allow the user to provide a Comtrya configuration file that allows them to add their own values into the Context tree.

[2021-03-16 01:00] rawkode opened #11 "New Action: macOS Defaults"
https://macos-defaults.com/

[2021-03-16 01:01] rawkode opened #12 "New Feature: Dry Run"
Allow for a `—dry-run` flag to be provided which will show which manifests will be executed and which packages and files each will provision.

[2021-03-16 01:03] rawkode opened #13 "New Action: Service Management"
Enable / Disable / Start / Stop services on macOS, Linux, and Windows

[2021-03-16 01:04] rawkode opened #14 "Manifest Spec: Restrict to Context"
Only run a manifest if it meets the criterion, which can match the context tree.

[2021-03-16 01:05] rawkode opened #15 "Async DAG Runs"
Currently the manifest DAG is run sequentially, this could be much faster if we run manifests at the same depth concurrently.

[2021-03-16 01:07] rawkode opened #16 "New Package Provider: Pacman / Yay"

[2021-03-16 01:29] rawkode opened #17 "File Actions: Templating should be false by default"
Rendering a file and interpolating contexts should be the configured option, with the default being simply to work with whatever file is provided by the repository.

[2021-03-16 07:50] phroggyy opened #20 "File symlinking"
### Is this a feature request or a bug report?

Feature request

### Describe the feature

It should be possible to symlink files with Comtrya. Preferably, this would be its own action, distinct from copying. Proposed syntax is similar to copy:

[code]

Alternatively, we could make it `file.link` with `symbolic` being an option (default `true`).

[2021-03-16 08:49] ciaranmcnulty opened #21 "Publish via homebrew"
It seems fairly doable https://federicoterzi.com/blog/how-to-publish-your-rust-project-on-homebrew/

[2021-03-16 09:10] rawkode opened #22 "New Action: Git Clone"

[2021-03-16 09:10] rawkode opened #23 "New Action: Create Directories"

[2021-03-16 09:10] rawkode opened #24 "New Action: Install GitHub Release Binaries"

[2021-03-16 09:11] rawkode opened #25 "Remote Manifests"
Manifests shouldn't have to be on the local machine. However, this will require Git installed

[2021-03-16 10:35] bketelsen opened #26 "add update flag to package.install"
given this action:

[code]
running the module will install git as expected the first time.  with a `brew` provider it will fail if git has a version bump on a subsequent apply.

[code]
`comtrya` should handle this gracefully in the default case, because `git` is installed.

it would be useful to have a flag or an alternative action to either install or update the package.
if the package is install

[2021-03-16 11:01] rawkode commented on #26
@bketelsen Hmm. That's odd! The Homebrew provider checks in your paths for the Homebrew installation. When I `-vv` this, I see:

` TRACE manifest_run{manifest="git"}:package.install{provider="Homebrew"}: git: found in Cellar`

I'm curious why this isn't the case for you.

Can you run your Git module in isoloation with `-m` and show me the `-vv` output, please?

[2021-03-16 11:05] bketelsen commented on #26
output [here](https://gist.github.com/bketelsen/a0d00283b7339856c5e66061ac33221b)

[2021-03-16 11:16] #20 closed

[2021-03-16 11:28] rawkode commented on #26
OK. I'll keep this issue open for the update / latest request.

The Git problem was fixed by using the host machines `brew --prefix`. Closed by #28

[2021-03-16 11:59] rawkode opened #30 "Document Variant Syntax"

[2021-03-16 16:09] phroggyy opened #32 "Bug: can't rerun file.link"
## Bug Report

### Steps to reproduce

1. Add a `file.link` action
2. Apply the manifest (by running `comtrya`)
3. Observe that symlink exists
4. Apply the manifest again
5. Get an error

### Expected behaviour

- if the correct symlink already exists, do nothing
- if the file exists and is not the correct symlink, emit an error (warning?)

[2021-03-16 17:24] #32 closed

[2021-03-16 21:24] vielmetti commented on #25
Rust does have a library that wraps Git, at https://github.com/rust-lang/git2-rs - the underlying code is the C library `libgit2`.

[2021-03-16 21:27] rawkode commented on #25
Yeah. I’ve been working on a GitOps library based on that for a while. Think this is my time to get it across the line.

https://GitLab.com/rawkode/gitsync

[2021-03-16 21:28] vielmetti commented on #22
oooh nice. You'll want to think about secrets management here too somehow, for cloning private repos.

[2021-03-17 00:12] vielmetti opened #35 "docs/examples: Tailscale installation on Ubuntu; requires `apt-key add`"
Motivation: one of the first things I do when setting up a new node is put it on my [Tailscale](https://tailscale.com) private network. `comtrya` should make this very easy, at the minimum by installing the necessary binaries, and (ideally) by propagating the necessary secrets or documenting the auth steps needed to turn up the network.

The Tailscale docs here https://tailscale.com/download/linux

[2021-03-17 00:32] vielmetti opened #36 "Ubuntu 20.04 install fails "Not: not found" after "Download complete" message."
New install on a Ubuntu 20.04 machine fails

[code]

and it appears that the /tmp directory does not include `/tmp/comtrya-x86_64-unknown-linux-gnu`.

The contents of /usr/local/bin/comtrya when I'm done is

[code]

[2021-03-17 00:35] vielmetti commented on #36
I think this is due to the repo moving from `rawkode/comtrya` to `comtrya/comtrya`. This succeeds, so there should be an easy fix:

[code]
(not recommended for actual use)

[2021-03-17 00:37] rawkode commented on #36
I've tagged a new release, this should publish the artifacts under the new org.

[2021-03-17 02:46] vielmetti opened #37 "'chmod' option in file.copy"
Motiviation: I have a set of little shell scripts that I want to bring down and install. Successful completion of the installation involves setting the execute bit with chmod. In some cases you might also want to install a file, like one that holds a secret, as something other than world-readable.

Suggested concrete syntax:

[code]

Alternatives considered: This is a workaround for #35 where I mi

[2021-03-17 02:50] vielmetti commented on #24
+1 for this one, with my first target installing the Equinix Metal (Packet) CLI from https://github.com/packethost/packet-cli/releases

[2021-03-17 05:25] vielmetti commented on #35
My workaround version of this is a script at https://github.com/vielmetti/vielmetti-shelltools/blob/master/files/bin/setup-tailscale-ubuntu-focal which I install with a `file.copy` command and then run with `sh -x`.  I do need to cut and paste a URL into my browser on my laptop to authenticate.  Much faster and less error-prone that following the instructions by hand.

[2021-03-17 18:53] rawkode commented on #36
@vielmetti I believe this is fixed. Please feel free to reopen if I am mistaken.

[2021-03-17 18:53] #36 closed

[2021-03-17 19:01] rawkode opened #39 "New Package Provider - WinGet"

[2021-03-17 19:47] #39 closed

[2021-03-17 20:11] #37 closed

[2021-03-17 22:29] #17 closed

[2021-03-18 14:40] muhannad0 commented on #36
Hey there David,

I'm still getting the `OWNER` variable set as `OWNER=rawkode` in the install script.

Tried running `curl -vfsSL https://get.comtrya.dev` on a couple of servers at different regions to rule out caching. But it's still the same.

Here's an output with `curl -vfsSL https://get.comtrya.dev`
[code]

I noticed that `x-vercel-cache` is marked as `HIT`. Do you think it might need a cach

[2021-03-18 14:51] rawkode commented on #36
Hi @muhannad0, I've flushed the cache on Cloudflare and Vercel. Sorry for that

[2021-03-18 19:36] muhannad0 commented on #36
Thanks @rawkode. All good now. 👍

[2021-03-19 15:48] #25 closed

[2021-03-19 18:04] vielmetti opened #46 "install: Ubuntu 16 complains about GLIBC_2.25 version"
[code]

[2021-03-19 18:17] vielmetti commented on #46
It's worth asking if Ubuntu 16 is a suitable target operating system, but I happened to have one available.

[2021-03-19 18:25] rawkode commented on #46
Hmm. This is likely due to the addition of remote manifest support that brings in libgit2

Everything was pure Rust and statically compiled prior to that.

Do you think that builds without Git support would be needed / wanted?

[2021-03-19 18:27] rawkode commented on #46
@vielmetti can you try the musl binary? That should maybe be statically linked and mebeddded.

[2021-03-19 19:40] vielmetti opened #47 "docs: integration with cloud-init, examples"
It should be possible to use cloud-init to do just the bare minimum of bootstrapping to get comtrya loaded and then have comtrya continue on its merry way to do the rest of a user bootstrapping process.

For this, no changes to the comtrya code should be needed, but some docs and examples would help.

[2021-03-19 19:57] vielmetti commented on #46
The `musl` binary works on Ubuntu 16.

[2021-03-19 20:05] rawkode commented on #46
OK. Closing this, as I believe there’s no action item. Feel free to reopen if you think I’ve missed something.

Thanks Ed

[2021-03-19 20:05] #46 closed

[2021-03-20 02:22] muhannad0 opened #49 "Option to use sudo for package install action (ubuntu OS)"
As a non-root user, when executing a manifest to install packages, comtrya reports that package was installed successfully even though the package was not actually installed.

It would be good to have an option like `require_sudo: true` for package install actions (maybe globally on the manifest or per action).

Machine details:
- OS: Ubuntu 20.04 LTS
- `ubuntu` user able to sudo without password

[2021-03-20 10:03] rawkode commented on #49
Ah. That’s annoying. Sorry about that @muhannad0

I’ll get that resolved today 👍

[2021-03-21 11:03] rawkode commented on #49
Closes by #50

[2021-03-21 12:03] #49 closed

[2021-03-22 10:41] TomKeur opened #56 "Add ability to encrypt/decrypt files"
This is a feature request:

Since I'm using a lot of different computers, it would really help me to add the ability to encrypt/decrypt files.
So I can publish them in a public Git repo.

For example I'm using bastion hosts in my `~/.ssh/config` file, but I don't want to be those public (the IP addresses):

[code]

In my example I used an internal IP Address, but normally these are public ip addre

[2021-03-24 04:15] 64bit opened #58 "Terraform like state management to add, update and destroy(remove) packages, files etc."
Comtrya is a promising project, I have faced similar problem in the past and mostly used shell scripts or Ansible - and always wonder if a tool can be built to have Terraform like semantics.

In the cloud world I like Terraform, mainly because one can add, update or destroy resources declaratively. I was wondering if same concept can be applied to this project - for OS provisioning - that would me

[2021-03-24 18:49] #12 closed

[2021-03-24 22:42] rawkode commented on #58
Related #57

Hi @64bit ,

The related task above is the first step in our changes to supporting a better "plan" phase. Next up I want to have the actions emit a `ChangeSet` that can be accepted or denied, which will tie in with the work @felipesere did for `--dry-run`.

I'm not sure we want to store state, but I do see some appeal; removing a package from your manifests and having it removed on th

[2021-03-24 23:06] rawkode commented on #16
Closed by #51

[2021-03-24 23:06] #16 closed

[2021-03-25 09:46] rawkode opened #63 "Aptitude Bootstrap Not Working"

[2021-03-25 09:57] rawkode commented on #16
Stupid bug on my part, which I believe caused the errors you mentioned. Sorry about that!

https://github.com/comtrya/comtrya/commit/dabfb771f860ca71eca9015dfbbd0c9aca5df1e0

[2021-03-25 10:01] bketelsen opened #64 "feature: add snap provider"
Add provider for snapcraft [documentation](https://snapcraft.io/)

[2021-03-25 10:17] #63 closed

[2021-03-25 10:17] rawkode opened #65 "New `run_command` helper is leaking output"
It's inheritting `stdin`, and friends, which it should only be doing for the `sudo -v`

[2021-03-25 10:29] rawkode opened #66 "Need a way to restrict package providers to supported platforms"

[2021-03-25 11:02] bketelsen commented on #66
and/or specify a default package provider if one is supported on multiple platforms (I don't want to use homebrew even if it is available on Linux)

[2021-03-25 20:43] kraileth opened #70 "Feature request: Package provider for FreeBSD"
A little background for any reader who might not be familiar with Unix-likes besides Linux:

Modern FreeBSD and DragonFly BSD use a package manager called _pkg_ which has been available as an alternative from FreeBSD 8.4 onward and as the only supported pm since FreeBSD 10.0. It replaced what was known as the _pkg_*_ tools. The latter (or rather a re-implementation thereof) is still used on OpenBS

[2021-03-25 22:12] rawkode commented on #70
@kraileth Initial proof of concept is available here:

https://github.com/comtrya/comtrya/pull/72

For this, it always runs `pkg install -n package1 package2`. I will work on adding support for removal detection, but I don't know what that looks like yet.

I've got access to bare metal through my employer, so I plan to get a FreeBSD box up and running for further testing.

As `os_info` doesn't sup

[2021-03-25 22:13] rawkode commented on #65
Closed by #72

[2021-03-26 04:16] kraileth commented on #70
Awesome! Just gave it a try, but while building Comtrya I ran into an issue. I cloned the repository and checked out _feat/bsd-package_, then did `cargo build`.

Had to install the _perl5_ and _gmake_ packages so that _rust-openssl_ would build (I assume switching to vendored OpenSSL caused the need for this).

All dependencies build now, but for Comtrya itself I get 3 _E0053_ like this:

[code]

[2021-03-26 06:33] 64bit commented on #58
Thank you for your response. What you described make sense. The system can tell the state without being additionaly stored by the tool. I was thinking more along the lines of upgrading, downgrading or removing the package just by editing the manifests - which would indeed be sweet feature :) . Treating it as cache & losing cache would be similar to Ansible semantics.

In any case, I'm looking forw

[2021-03-26 07:41] rawkode commented on #70
@kraileth Ooops. I think my build cache missed that somehow. Fixed!

[2021-03-26 18:51] kraileth commented on #70
@rawkode It builds now and the provider seems to try to do its job. On a system deliberately missing the package manager I ran a simple manifest to install the bash shell. It outputs this (which looks good):

[code]

Having pkg available, I re-ran Comtrya and got this:

[code]

This also looks good. The problem here is that for whatever reason pkg(8) returns 1 after any dry-run! This is very weird

[2021-03-26 18:57] rawkode commented on #70
It should have bootstrapped 😭

That failed message is not very useful. I'll fix that. I'll also spin up a FreeBSD machine to do some testing myself, so I can have a bit more confidence in what I hand over to you

[2021-03-26 19:04] kraileth commented on #70
@rawkode I see the problem. You call `/usr/local/sbin/pkg` - but that's unavailable until after the bootstrap. The wrapper script that does the bootstrap or passes stuff to the package manager, is `/usr/sbin/pkg`.

Quickly made the change, rebuilt and got a new error:

[code]

[2021-03-26 19:09] kraileth commented on #70
Ah, and the other problem is that it's "ASSUME_ALWAYS_YES" and not "ALWAYS_ASSUME_YES". I've tripped over this once, myself. The author of pkg is a Frenchman and thus English not his native language.

With this additional change bootstrapping works! :partying_face:

[2021-03-26 19:34] kraileth commented on #66
This might be somewhat more complex than it seems at first. It may be somewhat exotic, but there are projects like e.g. _openpkg.org_ that provide packages for various platforms (Linux, *BSD, Solaris, macOS, ...). They use (self-provided) RPM on all of those and a rpm/yum provider would probably just work with it even on distributions / systems that are not Redhat / SuSE / Mageia / etc. _Ravenport

[2021-03-31 22:34] #65 closed

[2021-04-03 20:51] rawkode commented on #70
Closed by #72

[2021-04-03 20:51] #70 closed

[2021-04-28 04:45] vielmetti commented on #14
I could use this, I think - trying to do a single set of config files that do the right thing across multiple versions of Ubuntu, and if there was a conditional I could set that reflected the version number or string I could express the condition e.g. "only install the deadsnakes PPA on 20.04"

[2021-04-29 00:28] eddiezane opened #82 "Stow-like recursive symlinking"
Given [this directory](https://github.com/eddiezane/dotfiles/tree/main/nvim/.config/nvim), with stow I can run `stow nvim` from the root of my dot files repo to recursively symlink all the files resulting in `~/.config/nvim/{coc-config.vim,coc-settings.json,init.vim}` existing.

I see that `file.symlink` was implemented (side note: looks like it didn't make the readme yet. I can PR that.). Would t

[2021-04-29 06:40] rawkode commented on #82
This is a great question. The reason it didn't make `directory.copy` is because I wasn't sure if that action would handle any templating or not and symlinks can't be templated / rendered.

A `directory.link` would be a welcomed changed.

Side note: yeah, docs are missing a few things. We're currently working on migrating them from mdBook to GitBook. Won't be long 😃

[2021-04-29 14:24] eddiezane commented on #82
I'll try and whip something up this weekend! Rust has been near the top of my list to learn for a bit now.

[2021-05-14 13:19] rawkode commented on #82
@eddiezane `file.link` will work for this use case now. It doesn’t matter if the `to` param is a file or directory, it creates the link either way.

Docs still need updated since the big atom refactor, but adding your own actions is a lot simpler now.

[2021-05-14 14:13] eddiezane commented on #82
Stellar! I've slowly been making my way through the Rust book. Haven't been scared away yet 😅.

[2021-05-15 09:10] danpopSD opened #91 "add a version (or --version)"
Suggestion- seems you already provide this in the help but for debugging wouldnt a --version or -v option make sense?

[2021-05-15 09:22] rawkode commented on #91
@danpopSD PR building now

[2021-05-15 09:31] #91 closed

[2021-05-15 10:08] rawkode opened #93 "Allow Variants on any Action"
We allow the variant syntax on package actions to handle the name, or provider, changing across different operating systems.

The same could be used for files and commands, where config locations or even commands differ.

[2021-05-16 19:50] kraileth opened #95 "Output and logging"
If comtrya is applying the example manifest for command.run this was the output for version 0.6.1:
[code]
As of version 0.6.2 this is the output:
[code]
While it's definitely an improvement to see what was actually done and not just the result, especially in the `whoami` example the result is very much relevant. I think that at least in verbose mode it would make sense to have something like this

[2021-05-17 06:00] Spazzy757 opened #96 "Allow overwiting the `files` directory"
## Problem
for actions like `file.copy` and `file.link` allow overwriting the default `files` directory that is required.

## Reasoning
if for instance, you are migrating from something like `stow` the file structure of your dotfiles is set out with folders like `bash` or `vim`. Comtrya currently requires you to change the structure for your files to be in the structure of `vim/files` and `bash/fi

[2021-05-17 06:09] Spazzy757 commented on #96
Just a note, currently im getting around this by doing:
[code]

[2021-05-17 07:48] rawkode commented on #96
Hey @Spazzy757,

The only reason this constraint exists is because Comtrya loads all YAML/YML files as manifests; the files directory acts as a boundary to stop loading app configs that also happen to be YAML based.

I would love to lift this constraint, I just need to give it some thought and see how we can.

Any ideas?

[2021-05-17 07:59] Spazzy757 commented on #96
I mean my initial thought would be to default it to this boundary but allow an overwrite?
i.e if `target-dir` set then use target-dir else use `files`. I get the issue with loading all yaml files, but if my folder structure looks somthings like this:

[code]
Then this could work, the only caveat is that you would not be able to store your comtrya config alongside your "files"

I'd need to jump int

[2021-05-17 08:13] rawkode commented on #96
I think I can add provisions to check the relative path from the manifest directory if the files directory doesn't exist.

I can also, maybe, handle YAML/YML that isn't a manifest in the better way; though trying to establish what is and isn't a manifest is tricky.

Let me add support for the initial idea and I'll work on the latter over time.

Please let me know any other feedback you have, it's

[2021-05-17 08:47] Spazzy757 commented on #96
Absolutely, I have my setup here for reference: https://github.com/Spazzy757/dotfiles

[2021-05-17 08:52] rawkode commented on #96
Thanks for sharing. Comtrya will actually install brew for you, FYI. If you're on macOS and use `package.install` it will ensure homebrew is available. If you're on Linux and use `provider: brew` with `package.install` it'll also install it

I will add docs on this

[2021-05-17 08:58] Spazzy757 commented on #96
Great news! Thanks! That makes things simpler

[2021-05-17 10:23] rawkode commented on #82
Closing this just now, as I beleive `file.link` handles this. Please feel free to open this again if I am wrong and I'll get it sorted

[2021-05-17 10:25] rawkode commented on #47
I think a script user-data should suffice, would this work?

[code]

[2021-05-17 19:32] eddiezane commented on #82
Ah sorry I misunderstood your previous comment.

Thank you!

[2021-05-25 10:22] rawkode commented on #95
Command stdout/stderr/exit code are now displayed via trace level logging (-vv)

Closed by #106

[2021-05-25 10:22] #95 closed

[2021-05-25 11:18] rawkode opened #107 "Remote Manifest Extensions"
We should support the `docker image build` Git syntax that allows specifying a revision and directory within the repository.

Such as:

<table>
  <thead>
    <tr>
      <th>Build Syntax Suffix</th>
      <th>Commit Used</th>
      <th>Build Context Used</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">myrepo.git</code></td>
      <td><code class="highlighter-r

[2021-05-25 13:00] rawkode opened #109 "Operating System Contexts"
Related to #99

[2021-05-25 15:41] KevinHonka opened #110 "Fix Typo in Label"
There is an typo in the label Compnent::Contexts.
I think it should be spelled Comp**o**nent::Contexts

😉

[2021-05-25 16:54] rawkode commented on #110
Fixed

[2021-05-25 16:54] #110 closed

[2021-05-25 19:40] rawkode commented on #109
Closed by #107

[2021-05-25 19:41] #109 closed

[2021-05-25 20:56] #30 closed

[2021-05-25 21:34] #23 closed

[2021-06-10 19:30] kraileth opened #116 "Switch to newer os_info crate"
Just opening an issue here so this won't be forgotten. The bundled crate _os_info_ needs to be updated for Comtrya to detect FreeBSD and DragonFly BSD (or a way needs to be found to use upstream os_info).

[2021-06-11 12:07] mt-inside opened #117 "Feature: redirect stdin and stdout of command.run"
I have a lot of `command.run` actions which set up shell completion, eg running `just --completions bash > ~/.completion.d/just`
This is possible with `command.run`, but it's a bit messy.
[code]

It'd be great to have an argument to `command.run` eg
[code]

What do you think?

[2021-06-11 15:45] eddiezane commented on #82
Had a chance to test this.

`file.link` does work for linking an entire directory but isn't quite what I was looking for.

Stow will recursively walk a directory and link files individually.

Take my [neovim config](https://github.com/eddiezane/dotfiles/tree/main/nvim) for example:

[code]

Running `stow nvim` will keep the directory structure and individually link the files using `$HOME` as the r

[2021-06-22 09:35] mt-inside opened #118 "Feature: run commands in an arbitrary git clone"
Not all software installs nicely (via a package manager, or with `go install` / `cargo install`). I often find myself stringing together lots of `command.run` to:
* clone a repo, to a temp location
* cd into it
* run commands (`make build && sudo make install` kinda stuff)
* tidy up the clone.

It would be great to have an action like
[code]

[2021-06-22 12:19] mt-inside opened #119 "Feature: various local "install" support"
I end up performing certain sets of actions together, eg
* copy a compiled binary to a system path, and strip it (some versions of unix `install` do this)
* copy/template a systemd unit to the right place, `systemctl enable`, `systemctl start`

I know we don't want to be a massive complex system, but it'd be nice to have first-class support for things like this, eg
[code]

[2021-06-29 13:02] mt-inside opened #120 "Feature: file.copy should support downloads"
It's pretty common to want to download software (or maybe config) from http, even ftp.
`wget` can be run from command.run, but you have to dump it in /tmp etc etc.
It feels nice to model this by supporting http etc URL schemes in file.copy (file:// can be the default in the case of no scheme)

[2021-07-14 15:37] rawkode commented on #120
@mt-inside I added a HttpDownload atom recently that would provide the basis for this. I'll work on adding a user facing action for it this week 👍🏻

[2021-07-14 15:38] rawkode commented on #119
@mt-inside I'm not entirely sure I understand. Where would this unit file come from?

[2021-07-14 15:41] rawkode commented on #118
I see a couple of potential scenarios here.

1. Auto detect `git` (and other) source locations.

[code]

Where `cwd` would be detected as a Git path and a temp clone would be made for the `make` to run.

2. A `build` Action

[code]

Alt:

[code]

What do you think?

[2021-07-14 15:42] rawkode commented on #117
@mt-inside Would you like to pick this up, or do you want me to bash it together? Pun intended.

[2021-07-15 08:33] mt-inside commented on #119
Oh I was thiking the user would just supply the unit file, so it'll come from `files/` like a normal `file.copy`. Basically `install.system_unit` would be short-hand for
* `file.copy(files/foo.service, <dst inferred from type field>)`
* `command.run(systemctl daemon-reload)`
* `command.run(systemctl enable foo.service)`
* `command.run(systemctl start foo.service)`

Seem sensible?

[2021-07-15 08:42] rawkode commented on #119
Can definitely support this pretty quickly and I wonder what the action API would look like if we could template the unit file in the Comtrya manifest too?

[2021-07-16 08:16] mt-inside commented on #118
I think I'd go with #1, like the auto-detection too. Seems neatest to me, and could be extended to other kinds of remote URL.

To address the other related use cases, I was personally thinking (I raised another issue) about having cargo, `go install` etc modelled as package managers, so I can say
[code]

[2021-07-16 08:17] mt-inside commented on #117
Good lord ;)

I'm happy to do it, but not 100% sure when I'll find the time

[2021-07-16 08:24] mt-inside commented on #119
Yeah that might be quite neat, I was just worried that a higher abstraction would make it harder to go off-piste if a unit needs non-standard settings. But yeah for the happy path we could have something nice and simple like

[code]

I just don't know what we do if someone needs to set ExecPre or any of the other million optional settings.

[2021-07-16 14:19] rawkode commented on #120
@mt-inside `file.download` action will be available shortly 👍🏻

[2021-07-16 14:39] #120 closed

[2021-10-11 10:48] bketelsen opened #123 "Feature: openSUSE/zypper support"
Would be nice to support the zypper package manager.

[2021-11-12 22:56] svallory opened #124 "Manifests in subfolders should keep the folder name in their identifier"
Right now if I have a manifest in a subfolder e.g. `formulas/1password.yml` the folder is either ignored or stripped away by `manifest_load`. It is confusing because the `depends` will expect only the filename while we are used to specifying the path for an import.

Also, if I have a manifest with the same name in another folder it looks like the second manifest to be loaded silently replaces the

[2021-11-15 11:16] rawkode commented on #124
Hey @svallory, thank you for taking the time to provide feedback on Comtrya :)

You're 100% right, this behaviour isn't great.

If manifests where resolved using the directory name, would this work better do you think?

Example:

[code]

These would be resolvable on the CLI and dependencies as `dev`, `dev.vscode`, and `os.default`

If you have any suggestions on how naming should work, I would lov

[2021-11-15 15:11] svallory commented on #124
Yep, that is exactly what I had in mind. If it is not too much work, allowing to specify to the cli `-m dev/*` and `dev.*` in the `depends` property would be nice too

[2021-11-15 15:15] rawkode commented on #124
No problem :)

[2021-11-15 15:49] svallory opened #127 "Plugin and Hooks arquitechiture"
Looks like you already have a good modularization in Comtrya. It would be nice if it supported plugins. Actually, since I don't know Rust and had some issues with using Comtrya to run the manifests I almost created a clone of it in Typescript hahaha. I could help with the plugin architecture design if you give me some pointers on the current architecture.

Here are some extension points I think co

[2021-11-15 18:32] svallory opened #128 "dry-run shows error for actions on files downloaded in previous steps"
Not sure how you would fix this (maybe with a fake filesystem?), but it's confusing to see an error in `--dry-run` and not when actually running the manifest. Here's an example:

[code]

[2021-11-15 19:08] svallory opened #129 "Manifest execution hangs when action is waiting for input"
Homebrew waits for an ENTER key so this manifest hangs:

[code]

[2021-11-15 19:32] rawkode commented on #129
I think this is waiting on a password, as the installer detects if it's needed.

Adding `sudo: true` should help

Also, brew should be auto installed when required by Comtrya; though I do plan to remove this

[2021-11-18 20:55] svallory commented on #129
This is what Homebrew is actually waiting on in my case:

[code]

[2022-01-26 14:23] rawkode commented on #127
Hi @svallory,

Thanks for your great suggestion. Apologies for the huge delay in me getting back to you, but I had some personal things kicking my ass over the last few months.

I love your ideas, and we can certainly implement a few of them.

Side note: I almost implemented Comtrya in TypeScript before attempting it in Rust 🤣

**Manifest Parser**

100%. It's actually very simple for us to support

[2022-01-26 14:23] rawkode commented on #129
@svallory Is this still a problem for you? I'm happy to debug this and fix it.

[2022-03-03 15:32] icepuma commented on #56
Hey. I have some time to spare next week to invest some energy. I would love to contribute this feature. Do you have any thoughts @rawkode or ideas how you want the problem to be solved?

I like the idea @TomKeur described. Any other thoughts on this matter?

Best regards

[2022-03-03 21:38] rawkode commented on #124
Closed by #134

[2022-03-03 21:38] #124 closed

[2022-03-03 23:23] rawkode commented on #116
Closed by #122

[2022-03-03 23:23] rawkode commented on #14
Closed by #122

[2022-03-03 23:23] #14 closed

[2022-03-03 23:25] rawkode commented on #93
Closed by #122

[2022-03-03 23:25] #93 closed

[2022-03-04 09:19] mriehl opened #136 "yay/pacman provider - should be able to filter packages with `query`"
Hi,

I recently moved my dotfiles to comtrya and I'm using the yay/pacman provider to provision packages.

Important bit of information is I don't just use the setup to bootstrap on a new machine, but I use it to change things too. So for example if I find a new useful tool (like `s-tui`) I will not manually install the package but instead put it in my manifest and run comtrya. This way, my manife

[2022-03-04 09:48] rawkode commented on #136
Hey @mriehl,

Thanks for the detailed issue. I also use Comtrya in this way 😃

There's a few things to this:

First, as a quick workaround you can add `extra_args: --needed` to your `package.install` actions, but this will require you to ensure you keep your Arch and AUR dependencies in separate actions.

Second, I had this problem with the `brew` provider too! It was __really__ slow. Each `Packag

[2022-03-04 09:50] rawkode commented on #129
@svallory I'm going to close this, but please don't hesitate to re-open it if this becomes an issue again.

[2022-03-04 09:50] #129 closed

[2022-03-04 10:37] mriehl commented on #136
Thanks for the fantastic reply!
Looks like I missed a lot from checking the code and reading the docs, I'll use this new knowledge asap :+1:
I might also send some PRs for the gitbook docs.

For checking installed packages yes `pacman -Q` will exit with 0 if the package is installed and with nonzero if the package is not installed.
I think `--needed` will for as-is because `yay` is alreay clever e

[2022-03-04 10:43] mriehl commented on #136
Can confirm using

[code]

just works. It's super fast now with `--needed` and the koto marker file workaround.
But you're right, the `query` function would be the super optimal solution because it just works(tm) even with AUR packages.

[2022-03-04 10:45] rawkode commented on #35
This is currently available in a PR: #138

[2022-03-04 10:46] mriehl commented on #136
I'll take a shot at implementing the `query` filter for the `yay` provider if it's cool with you since I do have arch on my machine to test :smiley:

[2022-03-04 10:47] rawkode commented on #136
The docs are super lacking and I would really appreciate any and all help I can get 😃

[2022-03-04 10:48] rawkode commented on #136
Go for it! If you need any guidance, feel free to jump to the Discord at https://rawkode.chat - there's a #comtrya channel

[2022-03-04 11:37] rawkode commented on #107
Closed by #115

[2022-03-04 11:37] #107 closed

[2022-03-04 16:23] rawkode commented on #82
@eddiezane I've "maybe" implemented this in #139

Can you maybe test it and see if the behaviour matches up with what you expected?

It doesn't do recursive, as I wasn't sure creating the directories to then symlink inside made any sense beyond just symlinking the directories too.

Lemme know 😄

[2022-03-04 17:04] #136 closed

[2022-03-04 22:34] rawkode commented on #128
This should be fixed by #141

[2022-03-04 22:36] rawkode commented on #128
Right now, for file atoms, I'm going to assume that the files may not exist until execution time.

Next week, I'll start to expose optimistic artefacts from atoms where they can register side effects from their actions - which we can use to determine whether a subsequent atom needs to run without actually checking.

[2022-03-08 18:30] icepuma commented on #119
https://github.com/51yu/systemd-client could be useful.

[2022-03-11 04:58] martintc opened #143 "OpenSSL issue when compiling on NetBSD"
I am working on trying to port comtrya over to NetBSD and ran into an initial issue in the build process. Look like it has an issue with the vendored version of openssl.

Here is the output:
[code]

OS: NetBSD 9.2
Arch: Amd64

I have also opened an issue on OpenSSL's github.

[2022-03-12 07:00] kraileth commented on #143
This has been the case for me as well. I could only ever get Comtrya built on FreeBSD by first editing Cargo.toml and removing the "vendored" feature from the openssl crate. Doing so resulted in a Comtrya binary that worked for me, however I have no idea what side effects it may cause (e.g. I have only ever used local manifests). Would be interesting to know the rationale for defining it this way

[2022-03-12 08:13] rawkode commented on #143
Let's see what happens if I remove it 😮 #144

[2022-03-12 08:31] rawkode commented on #143
OK. Looks like this was a problem because Windows doesn't have a system level OpenSSL to build with. I've told Cargo to only vendor on Windows.

I hope this helps. Should be merged when the tests pass.

[2022-03-12 08:37] rawkode commented on #143
This fix has been merged to main. Going to close this issue, but please feel free to reopen if there are any further problems.

[2022-03-12 09:28] martintc commented on #143
Sounds good, thanks! Kraileth had mentioned this to me over email and it worked. I hit another issue, but I don't think it is comtrya specific but mostly how NetBSD handled the shared object library for libssl.

[2022-03-12 09:36] rawkode commented on #143
Earlier versions of Comtrya tried to avoid OpenSSL altogether by using ring, but it was rather unstable. I'll try again on Monday.

[2022-03-12 10:35] martintc commented on #143
If you just want a reference from NetBSD, here is the terminal output. It compiles with not using the vendored version of openssl. But it hits a runtime issue.

![image](https://user-images.githubusercontent.com/33560895/158014638-5bf47a48-e538-40ad-b765-6caa452ab860.png)

[2022-03-12 10:45] rawkode commented on #143
What does `locate libssl.so` return?

I may need to try and get a NetBSD VM running to test this myself, but one of the goals of Comtrya is to run everywhere; so I'm happy to help get this working

[2022-03-12 10:51] kraileth commented on #143
@martintc This is interesting. Are you building with Cargo.toml as is after the recent fix or did you modify anything?

At least for me on FreeBSD this does not work for some reason. I need to comment out the line ```openssl = { version = "0.10", features = ["vendored"] }``` even though it should only apply to windows... Not sure what is happening there. Tried out replacing ```[target.'cfg(windows

[2022-03-12 10:54] rawkode commented on #143
Damn, that's frustrating @kraileth. I'm going to need to dig in to this further. I am really surprised Cargo didn't respect that import definition

[2022-03-12 11:02] kraileth commented on #143
@rawkode I can offer you SSH access to a FreeBSD jail and a NetBSD VM with Rust and Git installed if it helps. Just drop me a mail with a public key if you want me to provide the two dev systems.

[2022-03-12 11:07] martintc commented on #143
@kraileth and @rawkode

This is with the adjustment to `Cargo.toml` to removing the vendored version and just using `openssl = '0.10`

![image](https://user-images.githubusercontent.com/33560895/158015506-721042e3-b117-4ace-9200-acf3733ff657.png)

What is look like is the linker is finding `libssl.so.14` when it expects `libssl.so.1.1.` At least that was the jist I got from a chain of emails in th

[2022-03-12 11:16] martintc commented on #143
Huh, interesting. I pulled the recent change from main into my NetBSD branch and yea, Cargo doesn't seem to be respecting the `[target.`cfg(unix)`.dependencies]` so current it does not compile. I will probably revert that back.

[2022-03-12 13:41] rawkode commented on #143
@kraileth I've dropped it to you via Discord.

[2022-03-12 13:50] rawkode commented on #143
@martintc I've removed `openssl` in this PR #145

OpenSSL is actually a transitive dependency, so I don't actually need to list it.

I don't think this will help, but if you could test and let me know.

[2022-03-13 01:50] martintc commented on #143
Will do. I will give it a shot tonight on my lunch break and let you know

[2022-03-13 08:16] martintc commented on #143
@rawkode  PR#145 builds successfully on NetBSD 9.2. Now, we just need to solve the missing libssl.so.1.1 issue.

<img width="456" alt="Screen Shot 2022-03-13 at 12 21 15 AM" src="https://user-images.githubusercontent.com/33560895/158051134-a7e5c211-c1e7-4cc5-afc9-6f4031b47564.png">

[2022-03-13 08:25] rawkode commented on #143
Ah. So it still won't run? Ok. I'll keep reading

[2022-03-13 08:26] martintc commented on #143
Something I will test when I get a chance.

Looks like I have the library, it is just a matter of finding it during runtime. Looking at the cargo book (still newish to Rust), we may be able to link that library in during compile time like so:

`cargo:rustc-link-lib=dylib=/usr/pkg/lib/libssl.so.1.1`

[2022-03-13 08:33] rawkode commented on #143
@kraileth @martintc I just built Comtrya without openssl on a netbsd box provider by @kraileth and it worked, no libssl.so.1.1 issue

[2022-03-13 08:37] rawkode commented on #143
In the FreeBSD jail and the netbsd machine, I can successfully run:

`cargo run -- https://github.com/comtrya/comtrya#main:examples`

from the build of PR #145

[2022-03-13 08:51] rawkode opened #146 "bug: manifest directory resolution fails when falls inside a symlink"
We try to strip the prefix off the manifest directory (line 29 of manifest/mod) and this fails when the resolution of the path isn't canonical.

[2022-03-13 08:51] rawkode commented on #143
@kraileth thanks for that jail, found another bug that's an easy fix 😀

https://github.com/comtrya/comtrya/issues/146

[2022-03-13 09:09] martintc commented on #143
Mhmm, wonder if it is because I wasn't providing options. Just
'Cargo run'

Awesome! I'll get to work on a package provider for pkgin then!

[2022-03-13 09:11] rawkode commented on #143
Best of luck. Feel free to jump on the Discord if you need any help or advice.

https://Rawkode.chat

There's a Comtrya channel 😀

[2022-03-13 09:12] #143 closed

[2022-03-13 10:06] martintc commented on #143
@rawkode Sounds good, I have joined the discord.

[2022-03-15 11:50] #56 closed

[2022-03-15 13:34] martintc commented on #143
Huh. So I pulled the most recent changes into my development branch and I am still getting issues.

[code]

[2022-03-15 14:18] icepuma commented on #10
I will contribute that feature.

[2022-03-15 15:09] rawkode commented on #143
Hmm. I wonder what's different about your netbsd box vs the VM @kraileth provided?

[2022-03-15 16:02] #82 closed

[2022-03-16 04:52] kraileth opened #150 "Comtrya known to build on Aarch64?"
After recently reviving my Pinebook (a cheap Pine64-based tinkerer's notebook), I thought: Why not give Comtrya a try? Installing Rust was an exercise in patience as writing the approximately 2 GB of data to the EMMC literally took hours. I didn't expect a fast compile either, but the outcome was something that I had not expected: My first Rust ICE (while trying to compile the crate ```hyper-rustl

[2022-03-16 06:01] martintc commented on #150
Interesting. Comtry seems to compile alright on my Apple M1 with MacOS.

[2022-03-16 08:15] martintc commented on #143
Are you using doas or sudo when when running?

[2022-03-16 11:23] icepuma commented on #10
I think the issue is resolved.

[2022-03-16 16:42] #10 closed

[2022-03-16 16:53] kraileth commented on #150
@martintc Thanks for confirming. Then it's obviously an ICE that is specific to the platform. What is strange, though, is this: I cloned the GH repo of the offending crate and did ```cargo build``` it. It builds just fine! So the ICE only seems to strike when buillding hyper-rustls together with Comtrya... That's a bit unfortunate.

[2022-03-18 09:42] icepuma commented on #35
This issue is resolved?

[2022-03-18 09:43] icepuma commented on #13
I will spend the weekend to come up with a valid solution, as it requires some thoughts on which crates to use...

[2022-03-18 10:58] rawkode commented on #35
Yep, #138 was merged. Thanks

[2022-03-18 10:58] #35 closed

[2022-03-18 22:59] #146 closed

[2022-03-18 23:00] #22 closed

[2022-03-21 22:35] #11 closed

[2022-03-21 22:50] rawkode commented on #127
Link #161

[2022-03-22 11:04] rawkode opened #163 "Swap Koto for Rhai?"
Putting this in the maybe pile.

Pro of Rhai? Expression only mode and a simpler context model

https://rhai.rs/book/engine/expressions.html

As we'd only be using expressions, the user facing API for variants likely wouldn't be affected.

Rhai also has considerably better documentation.

[2022-03-22 11:05] rawkode commented on #163
Request for comments @bketelsen @icepuma

[2022-03-22 11:29] icepuma commented on #163
Hmm. Regarding the Plugin - Feature. Should I just drop the `koto` - Runtime?

[2022-03-22 11:45] rawkode commented on #163
@icepuma Is that a major problem / work?

[2022-03-22 11:46] icepuma commented on #163
Nope, because the feature is not done, it's easy to just drop it.

:+1: for `Rhai`

[2022-04-04 13:58] rawkode opened #166 "Switch Comtrya to use subcommands"
### Discussed in https://github.com/comtrya/comtrya/discussions/160

<div type='discussions-op-text'>

<sup>Originally posted by **rawkode** March 21, 2022</sup>
At the moment, `./comtrya` only performs a single command: run manifests.

We accept a few flags that can change this behaviour, but there's no concept of a subcommand.

Before we move towards 1.0, we should definitely have the discussion

[2022-05-13 04:36] kraileth opened #168 "File.copy: Problem using four-digit chmod with leading 0"
If using `file.copy` together with a four-digit `chmod` that has a leading zero (e.g. to clear the sticky bit), Comtrya errors out when trying to load the manifest like this:

[code]

Quoting does not help. Four-digit values without a leading 0 seem to be fine.

Example:

[code]

Comtrya version used: 0.7.4 on FreeBSD

[2022-05-17 03:03] martintc commented on #150
I guess this may be a question for rawkode, but could this be a similar situation as to the openssl issue? I can go and take a look and poke myself. With openssl is seems we were pulling it in as a dependency even though it was a transitive dependency and that was breaking the compile on NetBSD. If hyper-rustls is just a transitive dependency, perhaps directly calling it in `Cargo.toml` could fix

[2022-05-18 18:22] kraileth opened #169 "File.copy: Problem when trying to work with binary data"
When I try to use file.copy to create a file with non-text contents, comtrya fails with:

[code]

While most commonly it'll be text files that one will want to copy, this is not always the case and copying binary files should be supported, too.

Example: Copying a wallpaper image over like this:

[code]

Comtrya version used: 0.7.4 on FreeBSD

[2022-05-19 01:48] martintc opened #170 "Package provider issues on FreeBSD"
Comtrya can not identify the appropriate package provider in FreeBSD. The issue has to do with os_info. An issue has been filed against os_info and I will work on a fix since I've been handling BSD support in the library. Here is the issue for reference: https://github.com/stanislav-tkach/os_info/issues/308.

The fix for comtrya on FreeBSD will be once a fix has been tested and up streamed into os

[2022-05-27 23:25] Lockszmith-GH opened #172 "FR: Properly deal with `apt-key add` deprecation"
## The Background
`apt-key add` is being deprecated.

Quoting the [The Debian WIKI](https://wiki.debian.org/DebianRepository/UseThirdParty):

Here is a rather good article that explains how to add keys properly:

It is also reflected in the more-up-to-date vendor's documentation, like google-cloud-cli ([link](https://cloud.google.com/sdk/docs/install#debianubuntu)):

The above is just to state, th

[2022-05-28 07:47] rawkode commented on #172
I had no idea. Thank you, @Lockszmith-GH - we’ll fix this

[2022-06-04 21:16] Lockszmith-GH commented on #172
A [good explanation](https://stackoverflow.com/a/71384057/799379) of the 'why' behind the deprecation - in case someone is interested:

[2022-06-05 05:54] #170 closed

[2022-06-05 21:25] icepuma commented on #169
@kraileth could you please confirm, that the issue is resolved as soon as Rust 1.61.0 is available for FreeBSD

[2022-06-05 21:25] icepuma commented on #168
@kraileth could you please confirm, that the issue is resolved as soon as Rust 1.61.0 is available for FreeBSD

[2022-06-07 14:55] kraileth commented on #168
@icepuma Both "644" and "0644" work now; Comtrya will accept either and set the permissions correctly. Thanks for fixing this!

[2022-06-07 14:55] #168 closed

[2022-06-07 14:56] kraileth commented on #169
@icepuma Works like a charm now, thanks for taking care of it!

[2022-06-10 23:45] rawkode commented on #166
Closed by #177

[2022-06-10 23:45] #166 closed

[2022-06-11 19:34] rawkode commented on #172
@Lockszmith-GH I think the PR I just opened should resolve this, though I've got some testing to o.

[2022-06-11 21:32] rawkode commented on #150
@kraileth confirmed this has since been resolved

[2022-06-11 21:32] #150 closed

[2022-06-11 23:16] #163 closed

[2022-06-11 23:18] #172 closed

[2022-06-12 01:38] rawkode opened #185 "Publish JSON Schema for Manifest Files"

[2022-06-12 17:09] #185 closed

[2022-06-15 17:15] Lockszmith-GH commented on #172
I'll be happy to test out.
In the meantime, here is a bash script I wrote for myself to add repositories - I compiled it after cross referencing all the different solutions and came up with this:
https://github.com/Lockszmith/dotfiles/blob/main/_home/private_dot_local/bin/executable_sz-add-my-apt-repos

Hope this helps you - at least with scaffolding tests

[2022-06-20 03:40] theowenyoung opened #190 "Need some examples"
I'm so excited exploring this project, I want to move to comtrya, are there examples that I can refer?

[2022-06-20 05:14] theowenyoung opened #191 "Support MacPorts as macOS provider"
MacPorts is also a popular package manager in macOS: <https://guide.macports.org>,

Consider MacPorts as a provider?

[2022-06-20 05:49] theowenyoung commented on #143
For, in a new macOS, run the binary:

[code]

[2022-06-20 06:29] theowenyoung opened #192 "Support switching from different profiles"
Hi,

From Bombadil, profiles is a really nice tool to switch different role, <https://oknozor.github.io/toml-bombadil/docs/profiles-and-themes/profiles/> , can we consider this?

[2022-06-20 09:13] #192 closed

[2022-06-20 09:14] rawkode commented on #190
The best place for now is probably my dotfiles

https://github.com/rawkode/rawkode

there’s a dotfiles directory.

We’re working on a more sophisticated test suite which will contain examples of every action too, but that’s a work in progress.

[2022-06-20 09:14] rawkode commented on #191
Yep! We can add this

[2022-06-28 08:28] theowenyoung opened #195 "Allow specify configuration file path"
Hi, can we specify the configuration file path?

I have some variables that I don't want to commit to the public repo, so I place it in a private repo, I want to specify the `Comtrya.yaml` like `-c ~/xxx/Comtrya.yaml`.

[2022-06-28 08:56] rawkode commented on #195
Yep, we should support this.

[2022-07-02 13:45] theowenyoung opened #196 "Allow skip the whole actions based condition"
For my case, some dotfile is only expected to linux system, for now, I have to check every action by `where: os.name=="linux"`

can we consider some global condition? maybe like:

[code]

or:

[code]

[2022-07-02 16:55] Lockszmith-GH commented on #196
I thought about something like this as well. I think the 'more yaml' based approach would be:
You still group it around the actions.

But I would agree, a solution like that would make the code more dynamic

[code]

[2022-07-02 17:59] rawkode commented on #196
I think something like this is pretty easy to add and would also work well with async manifests when we turn them on

[code]

I prefer it being outside actions because we already support `depends` here.

I also like that this could be further enhanced with tags and custom variables at the top level of every manifest

[2022-07-02 17:59] rawkode commented on #196
@icepuma any thoughts on this?

[2022-07-02 18:36] icepuma commented on #196
I'd love to have tags and tags are scriptable with Rhai.

[2022-07-05 03:36] martintc commented on #66
At least on the linux side. I have been working with someone to create a sort of extension to the os_info details that will allow for better detailing of a linux system that Comtrya may be able to leverage. It will try to construct details on linux distros at run time. One advantage is that we are working on returning information such as a list of available package managers since while it is becom

[2022-07-05 09:15] theowenyoung opened #198 "How to escapse space in path?"
Try to link to vscode settings: `~/Library/Application\ Support/Code/User/settings.json`

[code]

[code]

I also tried:

[code]

Same error

[2022-07-05 09:17] rawkode commented on #198
I believe this is because your source spells `settings` incorrectly?

[2022-07-05 09:27] theowenyoung commented on #198
:(

[2022-07-05 09:27] #198 closed

[2022-07-05 10:09] rawkode opened #199 "Improve File Not Found Error Message"
It should be very clear what file or directory isn't available during file and directory actions and currently it isn't

Related #198

[2022-07-05 10:10] rawkode commented on #198
I've opened an issue to improve our error message here.

#199

[2022-07-14 16:31] theowenyoung opened #200 "Support {{os.hostname}} as variable"
Like this:

[code]

[2022-07-14 17:45] icepuma commented on #200
https://crates.io/crates/hostname

[2022-07-15 20:41] rawkode opened #202 "Test Thing"
Awesome

[2022-07-15 20:42] rawkode opened #204 "New item"
Created by monday.com automation via monday.com integration. 🎉

[2022-07-15 20:48] rawkode opened #205 "New Shoes"
Created by David Flanagan via monday.com integration. 🎉

[2022-07-15 20:49] #202 closed

[2022-07-15 20:49] #204 closed

[2022-07-15 21:59] #205 closed

[2022-07-18 06:40] #200 closed

[2022-07-19 09:57] rawkode opened #207 "Automate Discord Notifications"

[2022-07-19 10:18] #207 closed

[2022-07-19 10:18] rawkode opened #208 "Last Test"
I really promise!

[2022-07-19 10:19] #208 closed

[2022-07-20 11:03] icepuma opened #211 "Rework Context Enum"
The `Context` enum needs some rework:

[code]

Change depending code accordingly.

This helps comtrya to be more flexible e.g. when loading variables from `.toml` files.

[2022-07-23 00:39] icepuma commented on #196
I've created a draft PR with a possible solution for a more fine grain control over the execution of manifests based on `where` conditions.

[2022-07-23 00:46] icepuma opened #214 "Get rid of `tera`"
`comtrya` has two engines for evaluation: `tera` and `rhai`. `tera` should be obsolete, as `rhai` supports all necessary use cases. To make it a bit more consistent, we should get rid of `tera`.

**Attention:**
Port the `read_file_contents` function to `rhai`!

[2022-07-24 21:55] #196 closed

[2022-07-25 04:32] martintc commented on #123
Looking to resolve this with pr #216

[2022-07-25 16:22] icepuma opened #217 "Documentation: doppler run"
Include could look like:

[code]

The variables include uses the doppler cli under the hood and checks for being ready to use.
We have to settle on a way to check if we're already logged in. I think we could PR a feature to the doppler CLI to have a `doppler me` or something similar to check if one is ready to rock.

[2022-07-25 19:20] martintc opened #221 "Replace hard coded paths using which"
In some areas of comtrya where calls are being made to `echo` or package managers, hard coded paths are used. A good refactor is to make use use of `which` at the top of functions to get the cli command. Sowing an example from some of icepuma's code.

Replacing code blocks like this
[code]

to having
[code]

[2022-07-25 19:53] #123 closed

[2022-07-26 08:13] nobsaibot opened #223 "Print a message if a newer version is available"
Hi 👋

I found this feature very useful in the [GitHub CLI application](https://github.com/cli/cli/blob/trunk/internal/update/update.go) and [npm](https://github.com/npm/cli/blob/latest/lib/utils/update-notifier.js).

I think it'll be useful for users who install [comtrya](https://github.com/comtrya/comtrya) using the installation script.
And this will let them know that a new version is available

[2022-07-27 09:38] #223 closed

[2022-07-27 11:28] rawkode opened #227 "Bug: LibSSL Dynamic Linking AGAIN"
**Description**

[code]

**Steps to reproduce**

- Download from releases page

**Expected behaviour**

- It works

**Environment**

- OS: macOS
- Version: 0.7.4

**Additional information**

This MAY be fixed on main, but tracking in-case it isn't.

[2022-07-27 11:40] rawkode commented on #214
@icepuma Can Rhai handle the templating of manifests? I think that's all we use it for atm.

[2022-07-27 11:42] icepuma commented on #214
Hmm. I'll have to check.

[2022-07-27 11:48] icepuma commented on #214
Meeh. Didn't put in too much thoughts. `tera` is our only option for templating right now. Thanks @rawkode for the hint :D

[2022-07-27 11:48] #214 closed

[2022-07-27 13:08] icepuma opened #229 "Bug: Fix build step "Upload release archive" in main.yaml workflow"
**Description**
The step "Upload release archive" does not upload the musl artifact.

**Steps to reproduce**
See https://github.com/comtrya/comtrya/runs/7539668613?check_suite_focus=true

**Expected behaviour**
The upload works for the musl build.

**Environment**

**Additional information**

[2022-07-28 09:27] icepuma commented on #229
It worked this time https://github.com/comtrya/comtrya/runs/7556758247?check_suite_focus=true

We should observe and have this ticket open until we're certain it works reliable.

[2022-07-28 17:49] #24 closed

[2022-07-28 19:06] rawkode opened #231 "GitHub Binary - Support Archives"
**Description**
`binary.github` can download a binary from a GitHub release, but we don't support archives (tar.gz). We should unarchive these and stick the binaries into the directory

[2022-07-29 09:03] icepuma commented on #211
We're currently using the `serde_yaml::Value` - enum for the contexts. I have no problem using it, but in the case of the toml variables include I have to map `serde_toml::Value` to `serde_yaml::Value`.

Should we introduce our own `Value` - enum without being tied to a framework?

What are your opinions? @comtrya/maintainers

[2022-07-29 09:33] icepuma opened #232 "Testing: More IT tests"
We found https://github.com/aelsabbahy/goss some time ago. We could see if this is suitable for our IT test suite.

[2022-07-29 14:25] martintc commented on #211
I like the idea of introducing our own Value as an abstraction for `serde_toml::Value` and `serde_yaml::Value`. It would improve some on maintainability but also allows us to expand into other formats, for instance if we wanted to integrate json as an option for whatever reason.

[2022-07-29 14:42] rawkode commented on #211
I think our own Value enum might be best here 👍🏻

[2022-07-30 21:25] icepuma commented on #229
Seems to be fixed

[2022-07-30 21:25] #229 closed

[2022-08-01 04:50] martintc commented on #191
Working on the basic support for installing a package. Would like to also include boot strap capabilities.

Do we think it would be okay to just build from source or do we want to specifically get a version like `MacPorts-2.7.2-12-Monterey`

[2022-08-01 21:12] #211 closed

[2022-08-01 21:30] rawkode opened #236 "Feature: Support Manifest Labels"
**Description**

Allows manifests to be labeled in such a way that `comtrya -d apply -l setup` could be run and only a subset of the entire manifest directory is applied.

[code]

Perhaps labels should be KV?

[code]

[2022-08-01 21:34] rawkode opened #237 "Feature: Allow the Default Run to be Configured"
**Description**

At the moment, `comtrya -d apply` will run EVERY manifest within the manifest directory(ies).

We should provide something inside `Comtrya.yaml` that allows that behaviour to be changed.

[code]

And if we build #236, that could/should be a default target:

[code]

**Additional information**
Add more context which didn't fit in the fields above.

[2022-08-01 21:43] rawkode commented on #236
cc @comtrya/maintainers

[2022-08-01 21:43] rawkode commented on #237
cc @comtrya/maintainers

[2022-08-01 21:47] icepuma commented on #237
Should this be in 1.0.0?

[2022-08-01 21:47] icepuma commented on #236
Should this be in 1.0.0?

[2022-08-01 21:49] icepuma commented on #127
As soon I have more time I'll have a look into https://wasmer.io/ for our plugin system.

[2022-08-01 22:06] icepuma commented on #236
Hmm. We could easily create a `labels` context and use the "where" - block ^^

[2022-08-01 22:08] rawkode commented on #236
Not needed for 1.0 and is backwards compatible - so not too fussed. I may implement this prior to scratch my own itch though.

[2022-08-01 22:08] rawkode commented on #237
Not needed for 1.0 and is backwards compatible - so not too fussed. I may implement this prior to scratch my own itch though.

[2022-08-04 01:59] martintc commented on #26
Wouldn't be better to provide a generic action to run updates? This seems like a bit too dependent on the specific behavior of homebrew. Apt, DNF, and many of the other package managers don't have this kind of behavior.

[2022-08-04 02:04] martintc commented on #191
Reopen as I would like to keep this open until the bootstrap procedure is done

[2022-08-04 12:42] icepuma commented on #191
I think the bootstrap can't be automated, unless we pin a set of prerequirements:
- Xcode installed
- Xcode license accepted

What about installing `pkg` - files via terminal? Is `/usr/sbin/installer` still the way? Because it requires the user to specify a location, which shouldn't be chosen by `comtrya` I guess.

[2022-08-05 08:34] icepuma opened #239 "Feature: Add more options for config file formats"
**Description**
https://github.com/bnjjj/twelf could help us adding more options for config file formats. So instead of the user having to stick with `Comtrya.yaml`, they could go with e.g. `Comtrya.toml` or `Comtrya.json`

**Additional information**

[2022-08-05 20:00] martintc opened #240 "Feature: Group Management"
**Description**

A core feature of Comtrya should be the ability to manage groups. This would entail creating groups and adding users to groups.

**Additional information**

[2022-08-08 03:45] #199 closed

[2022-08-08 03:47] martintc commented on #191
Ill see if I can get around it, but yea, it looks like it is going to either not be possible or require some inventiveness. Ill go ahead and close the issue.

[2022-08-08 03:47] #191 closed

[2022-08-21 06:22] martintc commented on #231
Would the directory be a user specified directory?

[2022-08-21 07:06] bomgar opened #245 "Bug: Overwrite symlink does not work"
**Description**
I moved the files to a new location. Now the existing symlinks will not be updated by [comtrya](https://github.com/comtrya/comtrya)

**Expected behaviour**
`force: true` or `--force` should do this.

**Environment**
- OS Linux
- Version: `0.7.4`

[2022-08-21 07:08] bomgar opened #246 "Bug: Panic if files directory does not exist"
**Description**
If I don't have a files directory I get a panic without a meaningful error message

[code]
`-v` doesn't help either

**Steps to reproduce**
Move files direcotry

**Expected behaviour**
Useful error message

**Environment**
- OS Linux
- Version: `0.7.4`

[2022-08-21 07:09] bomgar opened #247 "Bug: Errors are logged on debug level"
**Description**
Errors are logged on debug

[code]

**Steps to reproduce**
Have an existing symlink in the target location

**Expected behaviour**
Error message should not be logged with debug

**Environment**
- OS Linux
- Version: `0.7.4`

[2022-08-21 12:06] rawkode commented on #247
Output is definitely something we want to improve. Thanks for raising this.

[2022-08-21 12:08] rawkode commented on #245
Contra will replace an existing symlink but it won’t replace a normal file.

A force option is a decent idea. Thanks.

[2022-08-21 12:09] rawkode commented on #231
Yea. The direction is mandatory in the spec

[2022-08-21 12:10] bomgar commented on #245
it did not work for me. It did not replace broken symlinks

[2022-08-21 12:13] rawkode commented on #245
Ok. I’ll try to reproduce this. Thanks for the update

[2022-08-21 12:14] rawkode commented on #245
@bomgar can you share your manifest or action, please?

[2022-08-21 12:30] bomgar commented on #245
[code]

[2022-08-21 12:34] bomgar commented on #246
[code]

`No such file or directory` this should state which file or directory is missing

[2022-08-23 20:07] #240 closed

[2022-08-23 20:25] martintc commented on #231
For the most part, this seems straight forward except for one thing. Pulling a binary is easy. On Unix platforms (BSD, Linux, MacOS), tar should be available so calling `tar` or `gunzip` isn't much of an issue for a command step. However, I don't think Windows has the tar programs apart of the `base system`.

[2022-08-23 23:56] Lockszmith-GH commented on #231
7zip can deal with most of that - and looking at package managers, this is their approach.
Can (or maybe the question is "should?") comtrya have a configuration testing for 7zip dependency on a windows machine for these binaries?

[2022-08-25 22:36] Lockszmith-GH opened #249 "Bug: libssl.so.1.1 missing error on a brand new Pop!_OS 22.04 LTS isntall"
# Description
On a brand new installation of Pop!_OS 22.04 LTS machine (laptop), `comtrya` fails to run.

# Steps to reproduce
Brand new Pop!_OS 22.04 LTS machine (laptop) installed.
Installed `comptrya` by running:
[code]

and I get the following error:

# Expected behaviour
`comtrya` to not break.

**Environment**
- OS : Pop!_OS 22.04 LTS
- Version: 0.7.4

# Additional information
I got `comtrya

[2022-08-26 04:46] martintc commented on #249
You have to install the library for openssl. I recently had to do this. If I recall correctly:

[code]

Then comtrya should build. My guess is that pop_os does not ship the development library and headers in their 'base' system.

[2022-08-26 06:12] Lockszmith-GH commented on #249
I'll check this, although I think a development library shouldn't be a dependency, so this might still be a bug.

[2022-08-26 06:28] martintc commented on #249
I haven't used the installer script, just built from source which is why I grab the devel, may just need to install the openssl/lineal package. But it's a library comtrya dynamically links against and the error comes up because the library isn't on the system.

[2022-08-26 13:55] Lockszmith-GH commented on #249
The OS _does_ have `libssl3.so` installed, in the same location that `libssl.so.1.1` ends up in:
[code]
So it's not about the library not being installed, it's about specific version.

## Here is what I found in the systems I have access to:
### Search for binaries in the package repository
In case you wish to reproduce/compare results, I used the following to search:
[code]

The way I'm searching

[2022-08-28 17:12] martintc commented on #231
With which, we can check to see if 7zip is in the path. The question here is, should we build in that we pull 7zip from winget if not present or bubble up a warning to the user and stop exeuction of that code path?

[2022-08-28 20:50] Lockszmith-GH commented on #231
I think this depends on the way chosen to support this, and how complex of a solution do you want to introduce.
I can think of a whole bunch of 'complications' to the code base that can come in here - just not sure what would strike the correct balance in this case:
1. default behavior would rely on the existence of a specific extractor in path (7z.exe on windows, tar in linux, etc.)
2. comtrya co

[2022-08-29 06:26] bomgar opened #250 "Bug: Lock file not in repository"
**Description**
Rust binaries should include a `Cargo.lock` file in the repository.

**Additional information**
I created the [AUR comtrya](https://aur.archlinux.org/packages/comtrya) package. Currently I cannot use `--locked` to make reproducible builds.

[2022-08-29 08:11] #250 closed

[2022-08-29 08:11] rawkode commented on #250
@bomgar Added. Hope this helps

[2022-08-29 08:12] rawkode commented on #249
This keeps coming back to bite us, I need to look and see how other projects handle this.

[2022-08-29 08:13] bomgar commented on #250
Thanks. I will use this with the next comtrya release then.

[2022-08-29 08:24] rawkode commented on #250
@bomgar I can either:

1. Add a lockfile to our most recent release
2. Cut an RC release of the next version

Do you have a preference?

[2022-08-29 08:29] bomgar commented on #250
I can wait for the next release. I don't think it is that urgent.

[2022-08-29 08:37] rawkode opened #252 "Feature: Hooks"
**Description**

Some mechanism to run a manifest(s) before everything (pre-apply)
Some mechanism to run a manifest(s) after everything  (post-apply)

**Additional information**

I have a manifest for adding homebrew taps, like below. It could be consumed as a dependency, but these style of tasks are really pre-run hooks.

If we support pre-hooks, it's likely there's a use-case for post- and perha

[2022-08-29 17:27] martintc commented on #249
We are discussing it some on the discord. It was mentioned just vendoring and statically linking, which is something we can do. However, does that now put more responsibility or work on our plate. Right now, we place it on the user/distro/OS essentially. Do we want to assume the responsibility of ensuring comtrya is being built against patched and updates version of SSL. Do we have the time/manpow

[2022-09-18 07:24] rawkode commented on #231
This might be useful

https://github.com/cargo-bins/cargo-binstall

[2022-09-20 03:18] martintc commented on #231
So looking at the source tree. Perhaps we should also rename the `src/lib/src/actions/binary` to "src/lib/src/actions/github" and rename the current github.rs file?

Well I guess it comes down to a greater question. When we pull down archived files, is it right to assume they are binaries? Someone could also be pulling down just the archived source with the same functionality.

[2022-09-20 14:10] Lockszmith-GH commented on #231
`download.github` or `download.release` maybe?

[2022-09-26 16:39] martintc opened #254 "Feature: Logging"
**Description**

Comtrya right now does tracing. As we get into pull or push methods to use comtrya across a fleet of machines, having the ability to use a subscriber model to write trace output to stdout and also place it in a log file for later review would be a value add.

**Additional information**

Initial thoughts, when comtrya executes, it can write a log file named
```comtrya-<datetime>.lo

[2022-09-29 20:12] svallory commented on #14
I know it's been more than a year, but just in case, for anyone looking, you can achieve that with [variant conditions](https://www.comtrya.dev/core/manifests/variants). The `where` attribute takes a koto statement or block as long as it returns a boolean.

[2022-09-29 20:15] svallory opened #256 "Bug: Discord invite link expired"
**Description**
The discord invite link in the documentation site expired.

**Steps to reproduce**
Go to the docs site and click the link :)

[2022-10-20 02:35] svallory commented on #127
@icepuma I was looking at Wasmer to see if I could take a shot at implementing the plugin system but the whole process looks cumbersome to me.

 I think you were on the right track with #161. At least for now, plugin executables by defining them in a manifest would go a long way. We would be able to define custom actions and even hooks written in any language.

I think we can get that very cheap b

[2022-10-20 22:20] svallory commented on #127
Btw, I just found out that deno can be embedded in a Rust app. How about allowing commands to be written in Typescript/javascript?

https://deno.land/manual@v1.26.2/embedding_deno

[2022-10-22 16:53] icepuma commented on #127
I will think a bit about the idea with `deno`. If you want, you can join our Discord @ https://rawkode.chat/ in the forum channel `oss-projects / #comtrya` and we can discuss it there with more people :)

[2022-10-24 23:00] svallory commented on #127
@icepuma That invite is invalid :/

[2022-10-25 11:46] rawkode commented on #127
@svallory https://rawkode.chat works on my end.

Here's another link, just in-case:

https://discord.gg/8pZsbTbj

[2022-10-27 13:41] svallory commented on #127
@rawkode sorry, it was actually a weird issue with my Discord account. rawkode.chat works just fine

[2022-11-09 17:11] rawkode opened #260 "Replace git2-rs with gitoxide"
**Description**

We have a constant battle with OpenSSL, so lets remove it if we can.

https://github.com/Byron/gitoxide

[2022-11-09 17:15] icepuma opened #261 "Feature: documentation in Rustdoc?"
This would also add the possibility to have code samples for e.g. actions

[2022-11-09 17:27] rawkode commented on #128
Related: https://crates.io/crates/indicatif

[2022-11-09 17:52] rawkode opened #263 "Feature: Extensions via WASM/WASI"
**Description**

Dump from our call this evening

[code]

I'm sure there's a related issue. @icepuma

[2022-11-09 17:59] rawkode commented on #263
https://docs.wasmtime.dev/examples-rust-wasi.html

[2022-11-09 20:02] icepuma commented on #127
Will be continued @ https://github.com/comtrya/comtrya/issues/263

[2022-11-09 20:02] #127 closed

[2022-11-16 03:01] airtonix commented on #252
instead of hooks, can we throw out the `depends` thing and instead make it a `includes` thing.

this would instantly give you what OP is asking for and it would make predicting the order of execution easier.

[2022-11-16 09:27] airtonix opened #267 "Feature: can't copy file from custom location"
**Description**

if my dotfiles repo looks like
[code]

and my `manifests/linux/zsh.yml` wants to copy a file from the `profiles/zsh` directory... it can't because:

[code]

means: `symlink manifests/linux/files/profile/zsh/.zshrc to ~/.zshrc`

and

[code]
results in an error

[code]

I guess im'm only allowe to have a folder structure of :

[code]

**Additional information**
Add more context whic

[2022-11-16 11:00] airtonix opened #268 "Feature: file.remove and directory.remove"
**Description**
Describe the idea / feature request in your own words.

- removes file or directory
- doesn't error if file/directory doesn't exist

[code]

[code]

[code]

[code]

[code]

[code]

**Additional information**
Add more context which didn't fit in the fields above.

we should have separate actions for `file.remove` and `directory.remove` because :

- good future maintenance: it means

[2022-11-16 11:38] airtonix commented on #96
Don't automatically crawl and try to load every yaml file.

instead stipulate that `comtrya` only looks for a `comtrya.yml` and then from there it's the users responsibility to build their graph with `includes`:

`comtrya.yml
[code]

The other url based behaviour would also imply that it looks for `comtrya.yml` in the root or at the url (if it's not already a filename):

`comtrya.yml
[code]

[2022-11-16 11:48] airtonix commented on #14
https://github.com/koto-lang/koto/blob/main/docs/language/basics.md

[2022-11-16 11:50] airtonix commented on #14
Actually I think @rawkode replaced koto with Rhai

#180

[2022-11-16 11:50] airtonix commented on #14
https://rhai.rs/book/engine/builtin.html

[2022-11-16 11:54] airtonix opened #269 "Feature: allow specifying version of comtrya when installing it."
**Description**
Describe the idea / feature request in your own words.

[code]

**Additional information**
Add more context which didn't fit in the fields above.

This will give you the freedom to make breaking changes in comtrya while we remain pinned to previous versions.

[2022-11-16 12:28] rawkode commented on #14
Yeah, we did replace Koto with Rhai because we could restrict Rhai to expression only mode.

Hopefully this works well for people :)

[2022-11-16 12:34] rawkode commented on #96
We don't enforce the existance of `Comtrya.yaml`, and `comtrya apply -m anything` should work as long as `anything.yaml` exists in the directory.

This `files/` directory is still something I hate a lot, and we've discussed on Discord potentially adding a `version: v1` to manifest files as an indication that they're Comtrya manifests, but this also becomes boilerplate.

I'm still not sure what the

[2022-11-16 12:36] rawkode commented on #252
@airtonix I'm not sure what the difference between depends and includes would be? I believe it acts as you describe.

Sure, the order isn't entirely predictable because we build a DAG from your manifests, but this guarantees dependencies across many levels.

[2022-11-16 13:02] svallory commented on #14
I was relying on the ability to pass a block to import koto functions and do some perform decisions :/

[2022-11-16 13:05] svallory commented on #14
I don't know if changing it again is on the menu, but have you considered Rhai's limitations? https://rhai.rs/book/about/non-design.html

I was already missing not having access to the file system from Koto. Have you considered using Lua? https://www.lua.org/

[2022-11-16 13:13] svallory commented on #14
Also, a crazy thought... what if we had a DSL for specifying manifests? If you dig that idea, I can help by specifying the language we define in Xtext. A DSL could have instructions for embedding code in any language. With an xtext definition it is also possible to generate vscode extensions for syntax highlight, autocomplete etc

[2022-11-16 13:29] rawkode commented on #14
Can you share some example use-cases?

Lua is definitely something I'd consider, as long as there's enough potential to make it worth another change.

I'd be happy to discuss and help support a DSL. We've discussed supporting other formats beyond YAML, so this would fit nicely into that discussion.

[2022-11-16 14:13] rawkode commented on #269
Hopefully supported by https://github.com/comtrya/get.comtrya.dev/commit/a2a87bbc20714b48692a17973e48f3e5289a35b6

You can test this with:

`curl -fsSL https://comtrya-get.onrender.com | sudo VERSION=v0.7.4 sh`

[2022-11-16 16:03] rawkode commented on #269
Now available at https://get.comtrya.dev

[2022-11-16 16:03] #269 closed

[2022-11-16 23:19] svallory commented on #14
The first thing I used koto blocks for was to call a custom `get_distribution` function I had on and a `utils.koto` file. I don't remember why I had to do that but I was using Zorin at the time. I was planning on expanding on contexts by having the block determine the context (e.g. work, personal, remote, etc). I didn't stop to figure out how I would do that exactly without fs access. That's why I

[2022-11-17 08:53] airtonix commented on #269
:tada

[2022-11-17 11:03] airtonix opened #271 "Bug: comtry apply command fails because tmp storage doesn't exist"
**Description**

[code]

**Steps to reproduce**
Step by step explanation. Please add the output of with `-vvv` flag enabled (be careful not to include any secrets from your config).

[code]

**Expected behaviour**
What the expected behaviour in your opinion.

**Environment**
[code]

**Additional information**
Add more context which didn't fit in the fields above.

[2022-11-17 11:22] airtonix opened #272 "Feature: an action to store a fact/variable/context from the output of a command"
**Description**
Describe the idea / feature request in your own words.

[code]

or

[code]

🤷🏻

**Additional information**
Add more context which didn't fit in the fields above.

[2022-11-17 11:28] airtonix commented on #272
Failing that perhaps there's a way to do this in any value?

[code]

In powershell, `$profile` magically points to : `C:\Users\zenobius\Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1`

Do we have a way to differentiate between `$env:profile` and `$profile` in powershell? (`$env:profile` is not the same as $profile` btw)

[2022-11-22 10:09] airtonix opened #273 "Feature: cli flag to skip cache"
**Description**
It looks like there's some kind of cache thing going on.

Seems confusing because none of this tool is extensively documented yet.

[code]

**Additional information**
Add more context which didn't fit in the fields above.

[2022-11-23 08:27] airtonix opened #275 "Bug: directory.copy fails on windows 11"
**Description**

this action: https://github.com/airtonix/dotfiles/blob/dc9a5444ad0be9a27031934678e15ed4fe4c3b2f/shells/powershell/install.yml#L14-L16

fails with this error:

[code]

**Steps to reproduce**

- have windows 11
- clone repo to [dc9a544](https://github.com/airtonix/dotfiles/commit/dc9a5444ad0be9a27031934678e15ed4fe4c3b2f)
- run:

[code]

**Expected behaviour**

- no errors
- copies t

[2022-11-23 11:33] airtonix opened #276 "Bug: command.run dir fails when shell is powershell"
**Description**

[code]

fails with:

[code]

**Steps to reproduce**

- have windows 10+
- have powershell
- run an action like the above
- vis error

**Expected behaviour**
What the expected behaviour in your opinion.

set the right current working directory as the manifest in which the action is contained and not error

**Environment**
- OS
- Version: `comtrya --version`

`comtrya 0.8.0`

**Addi

[2022-11-23 11:37] airtonix commented on #276
nvm, this was stdout spam from previous failed powershell profile

[2022-11-23 11:37] #276 closed

[2022-11-23 22:26] airtonix opened #277 "Feature: package.install (provider:winget) sometimes requires additional arguments for automated package install"
**Description**

For example to install the latest powershell (v7+) comtrya would complete instantly and succesfully.

[code]

which is wrong because installing it with :

[code]

- produces a loading bar
- sometimes requires the user to accept terms and conditions
- (for me) takes quite a while to download, probably because MS are rate limiting the bandwidth on their server.

It wasn't until i sw

[2022-11-24 01:46] airtonix opened #278 "Bug: execution of manifests random and exits unexpectedly"
**Description**

when i run

[code]

- I see that it picks a manifest to start with.
- It's not obvious why it picks that manifest.
- Each time i run `comtrya -v apply` It's never the same manifest that it starts with.
- Each time i run `comtrya -v apply` The order of the manifests executed is never the same.
- Each time i run `comtrya -v apply` Some manifests are not executed.

**Steps to reprodu

[2022-11-24 01:47] airtonix commented on #278
related to #273

[2022-11-24 01:49] airtonix commented on #277
https://github.com/comtrya/comtrya/pull/40/files#r1030988501

[2022-11-24 04:42] airtonix opened #279 "Bug: manifest with action containing a where statement prevents all further actions from running"
**Description**

`packagemanagers/scoop.yml`
[code]

`shells/starship/install.yml`

[code]

if i am on windows 11 and i run :

[code]

I see:

[code]

If i comment out the first action that is only intended to run on linux:

[code]

and run this again:

[code]

then I see:

[code]

Am I using `where` correctly?

**Steps to reproduce**
Step by step explanation. Please add the output of with `-vvv`

[2022-11-24 04:44] airtonix commented on #279
btw it fails because for some reason `scoop` is not on the path for `comtrya` but in my powershell shell and my cmd.exe shell it is.

[2022-11-24 22:18] airtonix opened #280 "Bug: Tera Function: read_file_contents strips out or doesn't interpret newlines properly."
**Description**

- this manifest: https://github.com/airtonix/dotfiles/blob/master/devtools/git/git.yml
- copying and templating these files:
  - https://github.com/airtonix/dotfiles/blob/master/devtools/git/files/gitconfig
  - https://github.com/airtonix/dotfiles/blob/master/devtools/git/files/id.gitconfig
  - https://github.com/airtonix/dotfiles/blob/master/devtools/git/files/main.gitconfig
  -

[2022-11-24 22:30] airtonix opened #281 "Feature: Load "files/**/*" as Tera templates so we can use {% include %}"
https://github.com/comtrya/comtrya/blob/54095b34419efcfe1af469866925f35ea76b4758/lib/src/actions/file/copy.rs#L46

Any chance we can use this form instead?

https://tera.netlify.app/docs/#usage

[code]

[2022-11-24 22:32] airtonix commented on #280
I suspect the issue is the use of `flatten` here on all lines when you probably only want to deal with the last line?

https://github.com/comtrya/comtrya/blob/main/lib/src/tera_functions/mod.rs#L15

[2022-11-25 05:30] martintc commented on #272
Thanks for all the issues. Looks like there is a lot of love the windows platform needs. Unfortunately, I don't think any of us on the maintainer ship team main Windows, however, I set up Windows 11 on my secondary disk to work through some of this. Plan to move through this a little bit at a time.

For the `command.run` action and calling echo, it looks like we need to prefix the commands with so

[2022-11-25 09:10] rawkode commented on #280
This is a bug here:

https://github.com/comtrya/comtrya/blob/79c1214d3ffa20ad621f79e415d9fe87cbbce155/lib/src/tera_functions/mod.rs#L15

We’ll get this fixed.

[2022-11-27 03:38] airtonix commented on #272
I wouldn't assume people are using `cmd.exe`, in fact since the default shell on windows 10 and up is now powershell i'd assume they're using powershell.

Additionally, when you run powershell, it dumps to the terminal help text encouraging you to install the latest version of powershell which is then run via `pwsh.exe`

[2022-11-27 18:01] martintc commented on #272
Something to note, using `cmd /c` is even in the documentation when using `std::process::Command`, so it may be how the internal implementation occurs, [implementation in std](https://github.com/rust-lang/rust/blob/master/library/std/src/process.rs), lines 462-468. Will probably need to delve in deeper or see if there are crates better suited for windows rather than using `std`.

[2022-11-28 08:01] airtonix commented on #272
I guess this is why ansible (used to? still does?) have a separate action for running a command than for running stuff that can run in a shell.

- https://docs.ansible.com/ansible/latest/collections/ansible/builtin/command_module.html
- https://docs.ansible.com/ansible/latest/collections/ansible/builtin/shell_module.html

[2022-11-29 01:39] martintc commented on #272
Will check this out. We may end up having to do something similar, really hoping to avoid it, but it may be the only reasonable solution. The good news is, we can place this probably behind cfg settings so it doesn't interfere elsewhere. I will also be trying to look more into the internals of shells on windows.

[2022-11-30 07:18] icepuma commented on #280
I'll fix it

[2022-11-30 09:24] icepuma commented on #281
I honestly wouldn't go down the `include everything` - route. I would at least make it a convention by adding a `<filename>.template` to the files that should be treated as templates.

@comtrya/maintainers what do you think?

[2022-11-30 09:32] icepuma commented on #272
Why not setting an ENV var with the desired value and hand it over to comtrya?

[2022-11-30 12:47] icepuma commented on #267
I'm torn between declaring it a bug or missing functionality, as it is clearly a convention to be in `files` relative to the root dir of the manifest.

[2022-11-30 20:43] icepuma commented on #279
I think the problem is located in our `Exec` - atom call [here]( https://github.com/comtrya/comtrya/blob/main/lib/src/actions/command/run.rs#L38-L43)

We don't set any env, which is used [here](https://github.com/comtrya/comtrya/blob/main/lib/src/atoms/command/exec.rs#L94)

[2022-11-30 20:46] icepuma commented on #275
[Whoopsie Daisy](https://github.com/comtrya/comtrya/blob/main/lib/src/actions/directory/copy.rs#L26)

[2022-11-30 20:47] icepuma commented on #273
Hmm. We don't have a cache in place oO

[2022-11-30 20:49] icepuma commented on #271
This sounds like https://github.com/libgit2/libgit2/issues/5241